:root {
  --font: 'Open Sans',sans-serif;
  --primary-color: #FE724C;
  --primary-hover:#df6442;
  --text: #000000;
  --text-secondary-color: #5B5B5E;
  --white: #FFFFFF;
  --separator: #D4D6E0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}